services:
  frontend:
    build: .
    container_name: my_app
    ports:
      - "5174:5174"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development